<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asr_plugin" >

    <!--百度语言识别功能-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--百度语言识别功能-->

    <application >

        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />

        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="15944964" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="zG95lpnvXDwFwp44bqaGYol7" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="HVKQ19G4YEQGWuWuAVI5ynEoDNkBqu92" />

    </application>
</manifest>

